body {
  background: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.login {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login h1 {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  margin-top: 1em;
  text-align: center;
}

.logo a {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.logo span {
  color: green;
}

.menu {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 5 / 2;
  position: fixed;
  left: 0;
  top: 20%;
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 10em;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.menu ul a {
  color: black;
  font-size: 1.75em;
}

.menu ul a:hover {
  background: #dad8d8;
}

.account {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20%;
  text-align: center;
}

.account a {
  color: black;
  font-size: 1em;
}

.account a:hover {
  background: #dad8d8;
}

.main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / 6 / 5;
  top: 0;
  margin-top: 3em;
}

.main h1 {
  color: black;
  font-weight: bolder;
  font-size: 2em;
  padding: 0;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  -webkit-margin-after: auto;
          margin-block-end: auto;
}

.main h3 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.main span {
  color: black;
  font-weight: lighter;
  font-size: 1em;
}

.main p {
  color: black;
  font-weight: lighter;
  font-size: 1em;
}

.main img {
  width: 100%;
}

.main ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.main ul a {
  color: black;
  font-size: 1.75em;
}

.main .ingredients ul {
  list-style-type: circle;
  list-style: inside;
  padding-left: 1em;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  color: black;
  font-size: 1em;
}

.main .steps ol {
  padding-left: 2em;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  color: black;
  font-size: 1em;
}

.main .pantry ul {
  padding-left: 2em;
}

.main .pantry ul li:before {
  color: black;
  font-size: 1em;
  font-weight: bold;
  content: 'x';
  margin-left: -20px;
  margin-right: 10px;
}

.main .pantry .search {
  padding-left: 1em;
}

.main .pantry .search span {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.listheader {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1 / 5 / 2 / 6;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  margin-top: 1em;
  text-align: center;
}

.listheader a {
  color: black;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.list {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2 / 5 / 6 / 6;
  position: fixed;
  right: 0;
  width: 20%;
  top: 10%;
}

.list ul {
  list-style-type: square;
  padding-left: 3em;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */