:root {
  --green: #96d647;
  --gray: #f0f0f0;
  --border: #c7c7c7;
}


body {
	background: whitesmoke;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.login {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login h1 {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

#container {
	display: grid;
	grid-template: 1fr / 1fr 4fr 1fr;	/* 1 row 3 column grid */
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100vw;
	height: 100vh;
}

/* Start navigation section */

/* Three-line menu button is the first child of "container" */
#menu-btn {
	display: flex;				/* CSS Flexbox display */
	align-items: center;		/* Flexbox property to vertically align children */
	justify-content: center;	/* Flexbox property to horizontally align children */
	position: fixed;
	margin: 0.3em 0 0 0.5em;
	cursor: pointer;
	user-select: none; 			/* Disables text highlighting */
	font-size: 2em;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	transition: 0.3s;
	z-index: 2;
}

#menu-btn:hover {
	background-color: var(--green);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	display: grid;
	padding: 0;
	grid-template: 1fr 3fr 1fr / 1fr;	/* 3 row 1 column sub-grid  within .container grid */
	background-color: var(--gray);
	width: 0;
	min-width: 0;						/* Default width of nav is 0, changes with JavaScript */
	overflow-x: hidden;					/* Hide content of nav when size is 0 */
	transition: 0.3s;					/* Animation time */
	white-space: nowrap;				/* Makes sure content of nav does not wrap during the animation */
}

#logo {
	padding-top: 1em;
	place-self: center;
}

#logo a {
	color: black;
	font-size: 2em;
	font-weight: bold;
	transition: 0.3s;
}

#logo a:hover {
	color: var(--green);
}

#menu {
	text-align: center;
}

#menu ul {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

#menu ul a {
	color: black;
	font-size: 1.75em;
	transition: 0.3s;
}

#menu ul a:hover {
	color: var(--green);
}

#account {
	place-self: center;
	padding-right: 1em;
}

#account a {
	color: black;
	font-size: 1em;
	transition: 0.3s;
}

#account a:hover {
	color: var(--green);
}

/* End navigation section */

/* Start main page section */

#main {
	grid-area: 1 / 2 / 2 / 3;						/* grid-area: <start-row> / <start-column> / <end-row> / <end-column> */
	background: url('../images/papyrus.png') fixed;	/* Textured background image, url path has to be relative to the style.css file so url('/images/papyrus.png) will not work */
	padding: 0 2em 0 2em;							/* padding: top right bottom left */
	border-left: 5px double var(--border);
	border-right: 5px double var(--border);
}

@media only screen and (max-width: 600px) {
	#main {
		grid-area: 1 / 1 / 2 / 4;
		padding-top: 2em;
	}
	
	#menu-btn {
		background-color: var(--green);
	}
	
	#shop-btn {
		background-color: var(--green);
	}
	
	.recipeContent {
		margin: 0 -0.5em 0 -0.5em;
	}
}

#main h1 {
	font-size: 2em;
	padding: 0;
}

#main span {
	color: black;
	font-weight: lighter;
	font-size: 1em;
}

#main p {
	color: black;
	font-weight: lighter;
	font-size: 1em;
}

#main hr {
	border: 1px solid black;
	border-radius: 2em;
}

.recipeHeader {
	display: block;
	background-color: var(--green);
	margin: 2em -2em 2em -2em;
	padding: 0.5em 0 2em 0;
	text-align: center;
}

.recipeTitle {
	color: white;
}

.recipeContent {
	background-color: white;
	padding: 2em;
	border-radius: 2em;
	border: double 5px var(--border);
}

.midimg {
	display: block;
	border: double 5px var(--border);
	border-radius: 2em;
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 70%;
}

/* FindRecipe Styling */
#findoptions {
	list-style-type: none;
}

.option {
	transition: 0.3s;
}

.option:hover {
	color: var(--green);
}


/* End FindRecipe Styling */


/* Rkeyword Styling */

.search {
	background-color: white;
	padding: 0 2em 0 2em;
	margin-top: 1em;
	border-radius: 2em;
	border: double 5px var(--border);
	transition: 0.3s;
}

.search:hover {
	background-color: var(--green);
	color: white;
	cursor: pointer;
}

/* End Rkeyword Styling */



/* Start Pantry Styling

.main .ingredients ul {
  padding-left: 2.5em;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  color: black;
  font-size: .9em;
}

.main .ingredients ul li:before {
  color: black;
  font-size: 1em;
  font-weight: bold;
  content: '+';
  margin-left: -20px;
  margin-right: 10px;
}

.main .steps ol {
  padding-left: 2em;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  color: black;
  font-size: 1em;
}

.main .pantry ul {
  padding-left: 2em;
}

.main .pantry ul li:before {
  color: black;
  font-size: 1em;
  font-weight: bold;
  content: 'x';
  margin-left: -20px;
  margin-right: 10px;
}

.main .pantry .search {
  padding-left: 1em;
}

.main .pantry .search span {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

End Pantry styling */

/* End main page section */

/* Start shopping list section */

#shop-btn {
	display: flex;				/* CSS Flexbox display */
	align-items: center;		/* Flexbox property to vertically align children */
	justify-content: center;	/* Flexbox property to horizontally align children */
	position: fixed;
	top: 0;
	right: 0;
	margin: 0.3em 0.5em 0 0;
	cursor: pointer;
	user-select: none; 			/* Disables text highlighting */
	font-size: 2em;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	transition: 0.3s;
	z-index: 2;
}

#shop-btn:hover {
	background-color: var(--green);
}

#right-column {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	display: grid;
	grid-template: 1fr 4fr / 1fr;
	width: 0;
	min-width: 0;
	overflow-x: hidden;					/* Hide content of right-column when size is 0 */
	transition: 0.3s;					/* Animation time */
	white-space: nowrap;				/* Makes sure content of right-column does not wrap during the animation */
	background-color: var(--gray);
}

#listheader {
	padding-top: 1em;
	place-self: center;
}


#listheader a {
	transition: 0.3s;
}

#listheader a:hover {
	color: var(--green);
}

#listheader a {
	color: black;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
}

#listheader hr {
	border: 1px solid black;
	border-radius: 2em;
}

#list {
	background: white;
	border-radius: 2em;
	margin-bottom: 2em;
}

#list ul {
	list-style-type: square;
	display: inline-block;
}


/* End shopping list section */

/*# sourceMappingURL=style.css.map */